@font-face {
    font-family: inconsolata;
    src: url(./Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Space Mono;
    src: url(./Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./Montserrat/Montserrat-Medium.ttf);
}

body {
    margin: 0;
}

.header {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}

.main-image {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5.35%;
    right: 57.21%;
    top: 265px;
    bottom: 37.11%;
    border-radius: 0px;
}

.first-statement {
    display: flex;
    position: absolute;
    width: 586px;
    height: 190px;
    left: 735px;
    top: 265px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}

.second-statement {
    display: flex;
    position: absolute;
    width: 381px;
    height: 108px;
    left: 736px;
    top: 491px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

.button-home {
    position: absolute;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -0.035em;
    /* Gray 1 */
    background-color: #333333;
    color: #FFFFFF;

}

.footer {
    position: absolute;
    width: 287px;
    height: 17px;
    left: 577px;
    top: 1039px;
    padding-bottom: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}

@media (max-width:375px) {
    .header {
        /* 404 not found */
        position: absolute;
        width: 133px;
        height: 25px;
        left: 24px;
        top: 20px;
        font-family: Inconsolata;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
        color: #333333;
    }

    .main-image {
        height: 220.35203552246094px;
        width: 286.829833984375px;
        left: 44px;
        top: 109px;
        border-radius: 0px;
    }

    .first-statement {
        /* I have bad news for you */
        position: absolute;
        width: 350px;
        height: 142px;
        left: 24px;
        top: 407px;
        font-family: Space Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -0.035em;
        /* Gray 1 */
        color: #333333;
    }

    .second-statement {
        /* The page you are looking for might be removed or is temporarily unavailable */
        position: absolute;
        width: 328px;
        height: 81px;
        left: 23px;
        top: 579px;
        font-family: Space Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;
        /* Gray 2 */
        color: #4F4F4F;
    }

    .button-home {
        position: absolute;
        width: 130px;
        height: 21px;
        left: 67px;
        top: 750px;
        font-family: Space Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 21px;
        /* identical to box height */
        letter-spacing: -0.035em;
        color: #FFFFFF;
        width: 216px;
        height: 68px;
        left: 24px;
        top: 726px;
        /* Gray 1 */
        background-color: #333333;
    }

    .footer {
        /* created by Hemant Gauhai - devChallenges.io */
        position: absolute;
        width: 287px;
        height: 17px;
        left: 46px;
        top: 908px;
        padding-bottom: 24px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        /* identical to box height */
        text-align: center;
        color: #BDBDBD;
    }
}